/* color pallette
bluish-white: #FCFCFC;
gray: #899999;
light-blue: hsl(217, 71%, 53%);
dark-blue: #29335C
red: rgb(255, 89, 100);
yellow: rgb(255, 231, 76);
green: rgb(167, 297, 75)
bright-pink: #B8336A
*/

.navbar {
    background-color: #29335C;
}

html {
    background-color: #899999
}

.column {
    background-color: #FCFCFC;
    border: solid 3px hsl(217, 71%, 53%);
    color: black;
    margin: 1%;
    margin-top: 3%;
    border-radius: 10px;
    height: 650px;
}

#toDo * {
    background-color: rgba(255, 89, 100, .6);
    border-radius: 10px;
    border: rgb(255, 89, 100) solid 3px;
    box-shadow: 3px 3px #888888;
}

#doing * {
    background-color: rgba(255, 231, 76, .6);
    border-radius: 10px;
    border: rgb(255, 231, 76) solid 3px;
    box-shadow: 3px 3px #888888;
}

#done * {
    background-color: rgba(167, 297, 75, .6);
    border-radius: 10px;
    border: rgb(167, 297, 75) solid 3px;
    box-shadow: 3px 3px #888888;
}
